@import url(bootstrap.css);
@import url(fonts.css);
@import url(icons.css);
@import url(pygments.css);


/* General ------------------------------------------------------------------ */

h1, h2, h3 {
  font-weight: bold;
  color: #126180;
  font-family: 'Enriqueta', Palatino, serif;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
  color: #000;
}

body {
  font-family: 'Cutive', Palatino, serif;
  padding-top: 75px;
}

.container {
  line-height: 160%;
}

a {
  color: #126180;
}
a:hover {
  text-decoration: none;
  -o-transition:color .2s ease-in-out;
  -webkit-transition:color .2s ease-in-out;
  -moz-transition:color .2s ease-in-out;
  transition:color .2s ease-in-out;
  color: #01aa85;
}

footer {
  padding-top: 25px;
  padding-left: 15px;
  color: grey;
  font-size: .7em;
}


/* Code --------------------------------------------------------------------- */

.codehilite, .highlight {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #f6cfc0;
  width: 800px;
  margin: 0 0 0 0;
  margin-bottom: 20px;
  overflow: auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
}


/* Navbar ------------------------------------------------------------------- */

.navbar-default {
    color: #fff;
    background-color: #126180;
    border-color: #fff;
    min-height: 10px;
}
.navbar-default .navbar-nav li a{
  position:relative;
  top:10px;
  color:inherit;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
  top:10px;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #80d4c2;
  background-color: transparent;
}
.navbar-default .navbar-brand {
    color:#fff;
    position:relative;
    top: -10px;
}
.navbar-nav li .dropdown-menu {
    color: #fff;
    background-color: #126180;
    padding-bottom: 20px;
}
.navbar-default .navbar-nav .open a,
.navbar-default .navbar-nav .open a:hover,
.navbar-default .navbar-nav .open a:focus {
  color: inherit;
  background-color: inherit;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu li a {
    color: inherit;
  }
}